<table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Customers</td>
        <td>{{ data[0].customersNum }}</td>
      </tr>
      <tr>
        <td>Partners</td>
        <td>{{ data[0].partnersNum }}</td>
      </tr>
      <tr>
        <td>Cars</td>
        <td>{{ data[0].carsNum }}</td>
      </tr>
      <tr>
        <td>Total Reservations</td>
        <td>{{ data[0].totalReservationsNum }}</td>
      </tr>
      <tr>
        <td>Closed Reservations</td>
        <td>{{ data[0].closedReservationsNum }}</td>
      </tr>
      <tr>
        <td>Problematic Reservations</td>
        <td>{{ data[0].problematicReservationsNum }}</td>
      </tr>
    </tbody>
  </table>
  