<table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Customers</td>
        <td>{{ stat_data["customersNum"] ? stat_data["customersNum"] : 0}}</td>
      </tr>
      <tr>
        <td>Partners</td>
        <td>{{ stat_data["partnersNum"] ? stat_data["partnersNum"] : 0 }}</td>
      </tr>
      <tr>
        <td>Cars</td>
        <td>{{ stat_data["carsNum"] ? stat_data["carsNum"] : 0 }}</td>
      </tr>
      <tr>
        <td>Total Reservations</td>
        <td>{{ stat_data["totalReservationsNum"] ? stat_data["totalReservationsNum"] : 0 }}</td>
      </tr>
      <tr>
        <td>Closed Reservations</td>
        <td>{{ stat_data["closedReservationsNum"] ? stat_data["closedReservationsNum"] : 0 }}</td>
      </tr>
      <tr>
        <td>Problematic Reservations</td>
        <td>{{ stat_data["problematicReservationsNum"] ? stat_data["problematicReservationsNum"] : 0 }}</td>
      </tr>
    </tbody>
  </table>
  