<div class="partner-details-card" *ngIf="partner">
    <div class="buttons">
      <button (click)="goBack()">Back</button>
    </div>
    <h2>{{ partner.name }}</h2>
    <img
        [src]="partner.photoUrl || defaultPhoto"
        (error)="setDefaultImage($event)"
        alt="{{ partner.name }}"
        class="partner-photo"
        />
    <p><strong>Email:</strong> {{ partner.email }}</p>
    <p><strong>Phone:</strong> {{ partner.phoneNumber ? partner.phoneNumber : '-' }}</p>
    <p><strong>Admin:</strong> {{ partner.isAdmin ? 'Yes' : 'No' }}</p>
    <p><strong>Status:</strong>
      <span *ngIf="!partner.isApproved">Waiting Approval</span>
      <span *ngIf="partner.isApproved && partner.isSuspended">Suspended</span>
      <span *ngIf="partner.isApproved && !partner.isSuspended">Active</span>
    </p>
    <p><strong>Language:</strong> {{ extraDetails.language }} </p>
    <p><strong>Country:</strong> {{ extraDetails.regionData && extraDetails.regionData.length > 0 ? extraDetails.regionData[0]["country"] : 'N/A' }}</p>
    <p><strong>Regions:</strong></p>
    <div *ngIf="extraDetails.regionData && extraDetails.regionData.length > 0; else noRegions">
      <p *ngFor="let region of extraDetails.regionData; let i = index">
        <strong>City {{ i + 1 }}:</strong> {{ region.city }}
      </p>
    </div>
    <ng-template #noRegions>
      <p><strong>City:</strong> N/A</p>
    </ng-template>

    <button (click)="showAddForm = !showAddForm" class="add-button">Add Package</button>

    <div *ngIf="showAddForm" class="add-package-form">
      <form #packageForm="ngForm" (ngSubmit)="onSubmit(packageForm)">
        <input name="packageName" ngModel required placeholder="Package Name" />
        <input name="country" ngModel placeholder="Country" />
        <input name="countryCode" ngModel placeholder="Country Code" />
        <input name="city" ngModel placeholder="City" />
        <!-- Region dropdown -->
        <div class="form-group text-center">
          <label for="regionSelect">Choose Region:</label>
          <select
            id="regionSelect"
            class="form-control"
            name="region"
            [ngModel]="selectedRegion"
            (ngModelChange)="onRegionChange($event)">
            <option *ngFor="let region of extraDetails.regionData" [ngValue]="region">
              {{ region.name }}
            </option>
        </select>
        </div>

        <!-- Services dropdown -->
        <div class="form-group text-center" *ngIf="services.length > 0">
          <label for="serviceSelect">Choose Service:</label>
          <select
            id="serviceSelect"
            class="form-control"
            name="service"
            [(ngModel)]="selectedServiceId">
            <option *ngFor="let service of services" [value]="service.id">
              {{ service.name }}
            </option>
          </select>
        </div>
     
        <input name="currency" ngModel placeholder="Currency" />
        <input name="vat" type="number" ngModel placeholder="VAT" />
        <input name="duration" ngModel placeholder="Duration" />
        <input name="packageDescription" ngModel placeholder="Description" />
        <input name="privateCars" ngModel placeholder="Private Cars" />
        <input name="vansOrSimilar" ngModel placeholder="Vans" />
        <input name="suvs" ngModel placeholder="SUVs" />
        <input name="caravans" ngModel placeholder="Caravans" />
        <div class="checkbox-row">
          <label for="active">Active</label>
          <input id="active" name="active" type="checkbox" ngModel />
        </div>

        <button type="submit" [disabled]="!packageForm.valid">Submit</button>
      </form>
    </div>

    <app-package *ngIf="packages.length" [packages]="packages" [partnerId]="partnerId"></app-package>
    <div *ngIf="!packages.length">
      <p>No packages available for this partner.</p>
    </div>

  </div>
  