<div class="partner-details-card" *ngIf="partner">
    <h2>{{ partner.name }}</h2>
    <img
        [src]="partner.photoUrl || defaultPhoto"
        (error)="setDefaultImage($event)"
        alt="{{ partner.name }}"
        class="partner-photo"
        />
    <p><strong>Email:</strong> {{ partner.email }}</p>
    <p><strong>Phone:</strong> {{ partner.phoneNumber ? partner.phoneNumber : '-' }}</p>
    <p><strong>Admin:</strong> {{ partner.isAdmin ? 'Yes' : 'No' }}</p>
    <p><strong>Status:</strong>
      <span *ngIf="!partner.isApproved">Waiting Approval</span>
      <span *ngIf="partner.isApproved && partner.isSuspended">Suspended</span>
      <span *ngIf="partner.isApproved && !partner.isSuspended">Active</span>
    </p>
    <p><strong>Language:</strong> {{ extraDetails.language }} </p>
    <p><strong>Country:</strong> {{ extraDetails.regionData && extraDetails.regionData.length > 0 ? extraDetails.regionData[0]["country"] : 'N/A' }}</p>
    <div *ngIf="extraDetails.regionData && extraDetails.regionData.length > 0; else noRegions">
      <p *ngFor="let region of extraDetails.regionData; let i = index">
        <strong>City {{ i + 1 }}:</strong> {{ region.city }}
      </p>
    </div>
    <ng-template #noRegions>
      <p><strong>City:</strong> N/A</p>
    </ng-template>
    

    <div class="buttons">
      <button (click)="goBack()">Back</button>
    </div>
  </div>
  